:root{
  --fuenteHeadings: 'PT Sans', sans-serif;
  --fuenteParrafos: 'Open Sans', sans-serif;
  --primario: #784D3C;
  --blanco: #ffffff;
  --negro: #000000;
}
html{
  box-sizing: border-box;
  font-size: 62.5%;
}
*,*:before, *:after{
  box-sizing: inherit;
}
body{
  font-family: var(--fuenteParrafos);
  line-height: 2;
}
.blog h3, .sidebar h3{
  font-size: 2.2rem;
}

.contenedor{
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
h1, h2, h3, h4{
  font-family: var(--fuenteHeadings);
}
h1{font-size: 4.8rem;}
h2{font-size: 4rem;}
h3{font-size: 2.5 rem;}
h4{font-size: 1.8rem;}

@media (max-width: 768px) {
  .header__texto h2{
    font-size: 2rem;
  }
  .header__texto p{
    font-size: 1rem;
    font-weight: 200;
  }
}

img{
  max-width: 100%;
}

.no-margin{
  margin: 0;
}
.no-padding{
  padding: 0;
}
.centrar-texto{
  text-align: center;
}
.header{
  background-image: url(..//img/banner.jpg);
  height: 60rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.header__texto{
  text-align: center;
  color: var(--blanco);
  padding-top: 5rem;
}
@media (min-width: 768px){
  .header__texto{
    margin-top: 5rem;
  }
}
@media (min-width: 768px){
  .barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo{
  color: var(--blanco);
}
.logo h1{
  text-align: center;
}
.logo__nombre{
  font-weight: normal;
}
.logo__nombre{
  font-weight: 700;
}
.navegacion__enlace{
  display: block;
  text-align: center;
  font-size: 1.8rem;
  color: var(--blanco);
 }

@media (min-width: 768px){
  .navegacion{
    display: flex;
    gap:2rem;
  }
}
 @media (min-width:768px) {
   .contenido-principal{
    display: grid;
    grid-template-columns: 2fr 1fr ;
    column-gap: 4rem;
   }
 }

 .entrada{
   border-bottom: 1px solid #e1e1e1;
   margin-bottom: 2rem;
 }
 .entrada:last-of-type{
   border: none;
   margin-bottom: 0;
 }
.boton{
  display: block;
  font-family: var(--fuenteHeadings);
  padding: 1rem 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--blanco);
}
@media (min-width:768px){
  .boton{
    display: inline-block;
  }
}

.boton--primario{
  background: rgb(0, 0, 0);
}
.boton--secundario{
  background-color: var(--primario);
}
.cursos{
  list-style: none;
}
.wibget-curso{
  border-bottom: 1px solid rgb(122, 134, 119);
}
.wibget-curso:last-of-type{
  border:none;
  margin-bottom: 0;
}
.wibget-curso__label{
  font-family: var(--fuenteHeadings);
  font-weight: 700;
}
.wibget-curso__info{
  font-weight: normal;
}
.footer{
  background-color: rgb(0, 0, 0);
  height: auto;
  text-align: center;
  color: rgb(255, 255, 255);
}
.footer-contenido{
  padding: 0.5rem;
}
.header__texto p{
  font-size: 2rem;
}
.entrada__contenido p{
  font-size: 1.5rem;
}
.contenedor-tipos_de_cafe{
  text-align: center;
}
.contenedor-tipos_de_cafe__contenido{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 4rem;
  gad: 1rem;
}
@media(max-width:768px){
  .contenedor-tipos_de_cafe__contenido{
    display: inline-block;
  }
  .header{
    height: 80rem;
  }
  .contenedor-tipos_de_cafe__contenido--uno{
    border-bottom: 1px solid rgb(122, 134, 119);
  }
  .contenedor-tipos_de_cafe__contenido--uno:last-of-type{
    border:none;
    margin-bottom: 0;
  }
}
.contenedor-tipos_de_cafe__contenido--uno h5{
  font-size: 1.5rem;
}
.contenedor-tipos_de_cafe__contenido--uno p{
  font-size: 1.5rem;
}
.recetas_area{
  display: grid;
  grid-template-columns: repeat(2,1fr)
}
.recetas{
  text-align: center;
  margin: 4rem;
}
.recetas_area_dos p{
  font-size: 2rem;
}
@media(max-width:768px){
  .recetas_area_dos p{
    font-size: 1.5rem;
  }
}
.beneficios{
  text-align: center;
  margin-bottom: 2rem;
}

.beneficios p{
  font-size: 1.5rem;
  text-align: center;
}
.cursos_extraccion h4{
  text-align: center;
}
.cursos_extraccion__area{
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.uno h5{
  font-size: 2rem;
}
.uno p{
  font-size: 1.5rem;
}
@media(max-width:768px){
  .uno{
    border-bottom: 1px solid rgb(122, 134, 119);
  }
  .uno:last-of-type{
    border: none;
    margin: 0;
  }
}
.uno{
  box-shadow: 5px 0 10px rgb(0, 4, 2);
}
